#!/bin/sh

alias nr="npm run"
alias bci='brew install --cask'
alias bci='brew install --cask'
alias bcr='brew reinstall --cask'
alias bcu='brew uninstall --cask'
alias bi='brew install'
alias bs='brew search'
alias bu='brew uninstall'
alias defd='defaults delete'
alias defre='defaults read'
alias deft='defaults read-type'
alias ls='ls -G -F -A'
alias grepi='grep -i'
alias dbxignore='xattr -w com.dropbox.ignored 1'
alias r='source ~/.zshrc'
alias wkgn='workday gn'
alias wkgm='workday gm'

# git

alias gl="git log"
alias gcam="git commit -am"
alias gc="git commit -a"
alias gcm="git commit -m"
alias git-show-ignored='git ls-files . --ignored --exclude-standard --others'
alias git-show-tracked='git ls-tree -r HEAD --name-only'
alias git-show-untracked='git ls-files . --exclude-standard --others'
alias gpl="git pull"
alias gs="git status"
alias gsl="git stash list"
alias gsp="git stash pop"
alias gst="git stash"
alias gms="git merge --squash"
alias gdf="git diff"
alias ga="git add"

gcamu() {
	git commit -am "$1" && gpu
}

gpr() {
	git pull origin master --rebase 2>/dev/null || git pull origin main --rebase
}

gpu() {
	if git push; then
		return
	else
		echo "Rebasing…" && gpr && git push "$@"
	fi
}
