<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSServicesStatus</key>
	<array>
		<string>app.soulver.mac - Calculate &amp; Replace (with Soulver) - calculateAndReplace</string>
		<string>com.ScooterSoftware.BeyondCompare - Select Left File for Compare - bcSelLeftFile</string>
		<string>cx.c3.theunarchiver - The Unarchiver/Unarchive To... - unarchiveToWithPasteboard</string>
		<string>com.kapeli.dashdoc - Look Up in Dash - lookupService</string>
		<string>com.apple.FontBook - Font Book/Display Font Information - displayFontInformation</string>
		<string>com.houdah.HoudahSpot4 - New HoudahSpot Search - newSearch</string>
		<string>com.apple.mail - Mail/New Email To Address - mailTo</string>
		<string>com.apple.ImageCaptureService - Import Image - ImportImage</string>
		<string>com.apple.dt.instruments.backgroundinstruments - Time Profile Active Application - timeProfileFrontMost</string>
		<string>com.stclairsoft.DefaultFolderX5 - Default Folder X IPC Service - serviceHandler</string>
		<string>com.ScooterSoftware.BeyondCompare - Compare Files - bcCompareFiles</string>
		<string>com.apple.Terminal - New Terminal Tab at Folder - newTerminalAtFolder</string>
		<string>com.apple.dt.instruments.backgroundinstruments - Time Profile App Under Mouse - timeProfileUnderMouse</string>
		<string>com.apple.services.setDesktopPicture - Set Desktop Picture - runWorkflowAsService</string>
		<string>com.apple.BluetoothFileExchange - Send File To Bluetooth Device - sendFileUsingBluetoothOBEXService</string>
		<string>com.houdah.HoudahSpot4 - Search in HoudahSpot - search</string>
		<string>com.apple.finder - Finder/Show Info - showInfo</string>
		<string>com.apple.ChineseTextConverterService - Convert Text from Traditional to Simplified Chinese - convertTextToSimplifiedChinese</string>
		<string>com.blackpixel.kaleidoscope - Compare Images in Kaleidoscope - diffImage</string>
		<string>com.apple.ScriptEditor2 - Script Editor/Make New AppleScript - makeNewAppleScript</string>
		<string>app.soulver.mac - Calculate &amp; Copy (with Soulver) - calculateAndCopy</string>
		<string>com.apple.services.addToiTunesAsSpokenTrack - Add to Music as a Spoken Track - runWorkflowAsService</string>
		<string>cx.c3.theunarchiver - The Unarchiver/Unarchive To Current Folder - unarchiveToCurrentFolderWithPasteboard</string>
		<string>com.sindresorhus.Gifski - Convert to GIF with Gifski - convertToGif</string>
		<string>com.apple.FolderActionsSetup - Folder Actions Setup - openFilesFromPasteboard</string>
		<string>com.apple.Terminal - Search man Page Index in Terminal - searchManPages</string>
		<string>com.apple.SpotlightService - SEARCH_WITH_SPOTLIGHT - doSearchWithSpotlight</string>
		<string>app.soulver.mac - Calculate &amp; Append (with Soulver) - calculateAndAppend</string>
		<string>org.hammerspoon.Hammerspoon - Send to Hammerspoon - processDockIconDraggedText</string>
		<string>com.apple.Grab - Capture Selection from Screen - variableSelection</string>
		<string>org.vim.MacVim - MacVim/New MacVim Buffer Here - newFileHere</string>
		<string>com.apple.Stickies - Make Sticky - makeStickyFromTextService</string>
		<string>com.houdah.HoudahSpot4 - Search Folders in HoudahSpot - folderSearch</string>
		<string>com.apple.systemuiserver - Open URL - openURL</string>
		<string>com.apple.FontBook - Font Book/Create Font Library From Text - createLibraryFromText</string>
		<string>com.apple.Automator - Create Service - makeNewServiceWithPasteboard</string>
		<string>com.colliderli.iina - Text Drop - droppedText</string>
		<string>com.coteditor.CotEditor - Open File in CotEditor - openFile</string>
		<string>com.apple.SummaryService - Summarize - doSummarization</string>
		<string>org.hammerspoon.Hammerspoon - Send to Hammerspoon - processDockIconDraggedFile</string>
		<string>com.apple.ChineseTextConverterService - Convert Text to Half Width - convertTextToHalfWidth</string>
		<string>com.apple.dt.Instruments - File Activity - targetFrontAppWithTemplate</string>
		<string>com.apple.Safari - Search With %WebSearchProvider@ - searchWithWebSearchProvider</string>
		<string>com.apple.dt.Instruments - Activity Monitor - targetFrontAppWithTemplate</string>
		<string>com.apple.TextEdit - New TextEdit Window Containing Selection - openSelection</string>
		<string>com.apple.TextEdit - Open Selected File in TextEdit - openFile</string>
		<string>com.apple.Safari - Add to Reading List - addToReadingList</string>
		<string>com.teamviewer.TeamViewer - Send files with TeamViewer - sendFilesToBuddy</string>
		<string>com.apple.Terminal - Open man Page in Terminal - openManPage</string>
		<string>com.flexibits.cardhop.mac - Send to Cardhop - sendToCardhop</string>
		<string>com.apple.mail - Mail/New Email With Selection - mailSelection</string>
		<string>com.blackpixel.kaleidoscope - Compare Text in Kaleidoscope - diffString</string>
		<string>com.apple.finder - Finder/Reveal - reveal</string>
		<string>com.apple.FontBook - Font Book/Create Collection From Text - createCollectionFromText</string>
		<string>com.apple.Automator - Create Workflow - makeNewWorkflowServiceWithPasteboard</string>
		<string>net.pornel.ImageOptim - ImageOptimize - handleServices</string>
		<string>com.blackpixel.kaleidoscope - Open in Kaleidoscope - compareFilesAndFolders</string>
		<string>com.apple.ScriptEditor2 - Script Editor/Run as AppleScript - runAsAppleScript</string>
		<string>com.apple.services.showMap - Show Map - runWorkflowAsService</string>
		<string>com.apple.dt.Instruments - Allocations &amp; Leaks - targetFrontAppWithTemplate</string>
		<string>com.apple.dt.instruments.backgroundinstruments - Toggle Instruments Recording - toggleRecordingState</string>
		<string>com.apple.ChineseTextConverterService - Convert Text from Simplified to Traditional Chinese - convertTextToTraditionalChinese</string>
		<string>com.apple.ChineseTextConverterService - Convert Text to Full Width - convertTextToFullWidth</string>
		<string>com.apple.Dictionary - Look Up in Dictionary - doLookupService</string>
		<string>com.mrrsoftware.NameChanger - Rename with NameChanger - renameFromService</string>
		<string>com.googlecode.iterm2 - New iTerm2 Window Here - openWindow</string>
		<string>at.obdev.LaunchBar - Send to LaunchBar - sendToLaunchBar</string>
		<string>com.evernote.Evernote - ENApplicationServiceMenuItemTitle - serviceCreateNote</string>
		<string>com.flexibits.fantastical2.mac - Send to Fantastical 2 - sendToFantastical</string>
		<string>com.apple.dt.Instruments - System Trace - targetFrontAppWithTemplate</string>
		<string>com.apple.services.addToiTunesAsSpokenTrack - Add to iTunes as a Spoken Track - runWorkflowAsService</string>
		<string>com.kapeli.dashdoc - Create Snippet in Dash - createSnippetService</string>
		<string>com.googlecode.iterm2 - New iTerm2 Tab Here - openTab</string>
		<string>com.apple.Terminal - New Terminal at Folder - newTerminalAtFolder</string>
		<string>com.evernote.Evernote - Add to Evernote - serviceCreateNote</string>
		<string>com.apple.ScriptEditor2 - Script Editor/Get Result of AppleScript - runAsAppleScript</string>
		<string>org.vim.MacVim - MacVim/New MacVim Buffer With Selection - openSelection</string>
		<string>com.apple.services.encodeSelectedVideoFiles - Encode Selected Video Files - runWorkflowAsService</string>
		<string>com.apple.finder - Finder/Open - open</string>
		<string>com.apple.QuickTime.service.encodeSelectedAudioFiles - Encode Selected Audio Files - runWorkflowAsService</string>
		<string>com.ScooterSoftware.BeyondCompare - Compare Folders - bcCompareFolders</string>
		<string>com.ScooterSoftware.BeyondCompare - Select Left Folder for Compare - bcSelLeftFolder</string>
		<string>cx.c3.theunarchiver - The Unarchiver/Unarchive To Desktop - unarchiveToDesktopWithPasteboard</string>
		<string>com.apple.dt.instruments.backgroundinstruments - Time Profile Entire System - timeProfileSystem</string>
		<string>com.junecloud.mac.Deliveries - Add to Deliveries - showEditWindowWithSearch</string>
	</array>
	<key>maintainanceLastRunDate</key>
	<integer>1617967377</integer>
</dict>
</plist>
