<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Regular_Expressions</key>
			<dict>
				<key>date</key>
				<date>2025-09-18T10:23:56Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>RegEx</string>
						<string>reg ex</string>
					</array>
					<key>name</key>
					<string>Regular Expressions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Regular_Expressions</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>AppCode_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2020-07-22T08:59:45Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>jetbrains appcode shortcuts</string>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
					</array>
					<key>name</key>
					<string>AppCode</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>AppCode_Shortcuts</string>
				</dict>
			</dict>
			<key>Bash_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2020-06-24T13:52:59Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal shell bash</string>
					</array>
					<key>name</key>
					<string>Bash Shortcuts</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Bash_Shortcuts</string>
				</dict>
			</dict>
			<key>Bash_Test_Operators</key>
			<dict>
				<key>date</key>
				<date>2020-06-24T13:53:00Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal shell bash</string>
					</array>
					<key>name</key>
					<string>Bash Test Operators</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Bash_Test_Operators</string>
				</dict>
			</dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2022-05-31T12:43:45Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>Git_Flow</key>
			<dict>
				<key>date</key>
				<date>2022-05-31T12:43:42Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git Flow</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git_Flow</string>
				</dict>
			</dict>
			<key>Hub</key>
			<dict>
				<key>date</key>
				<date>2020-10-17T17:20:06Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>github</string>
					</array>
					<key>name</key>
					<string>Hub</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Hub</string>
				</dict>
			</dict>
			<key>Semantic_Commits</key>
			<dict>
				<key>date</key>
				<date>2021-03-15T21:06:19Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>git svn source control hg mercurial</string>
					</array>
					<key>name</key>
					<string>Semantic Commits</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Semantic_Commits</string>
				</dict>
			</dict>
			<key>Vim</key>
			<dict>
				<key>date</key>
				<date>2021-05-15T21:59:45Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Vim</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Vim</string>
				</dict>
			</dict>
			<key>Xcode_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2020-07-22T08:59:46Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
						<string>swift</string>
					</array>
					<key>name</key>
					<string>Xcode</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Xcode_Shortcuts</string>
				</dict>
			</dict>
			<key>Xcode_UI_Testing</key>
			<dict>
				<key>date</key>
				<date>2021-03-15T21:06:26Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
						<string>swift</string>
					</array>
					<key>name</key>
					<string>Xcode UI Testing</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Xcode_UI_Testing</string>
				</dict>
			</dict>
			<key>iOS_Design</key>
			<dict>
				<key>date</key>
				<date>2020-10-17T12:42:19Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
					</array>
					<key>name</key>
					<string>iOS Design</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iOS_Design</string>
				</dict>
			</dict>
			<key>npm</key>
			<dict>
				<key>date</key>
				<date>2020-04-17T08:40:08Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>node package manager</string>
						<string>nodejs package manager</string>
						<string>node.js package manager</string>
					</array>
					<key>name</key>
					<string>npm</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>npm</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict>
			<key>automattic/woocommerce</key>
			<dict>
				<key>date</key>
				<date>2023-07-30T12:27:46Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>automattic/woocommerce</string>
					<key>platform</key>
					<string>phpp</string>
					<key>uniqueIdentifier</key>
					<string>automattic/woocommerce</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Hammerspoon</key>
			<dict>
				<key>date</key>
				<date>2026-01-05T15:48:14Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Hammerspoon#readme</string>
					<key>authorLinkText</key>
					<string>Hammerspoon Team</string>
					<key>name</key>
					<string>Hammerspoon</string>
					<key>platform</key>
					<string>usercontribHammerspoon</string>
					<key>uniqueIdentifier</key>
					<string>Hammerspoon</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>JSDoc</key>
			<dict>
				<key>date</key>
				<date>2020-03-18T14:38:44Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>jsdoc</string>
						<string>jsdoc3</string>
						<string>documentation</string>
						<string>javascript</string>
						<string>node</string>
						<string>nodejs</string>
						<string>node.js</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/JSDoc#readme</string>
					<key>authorLinkText</key>
					<string>Nicholas Cloud</string>
					<key>name</key>
					<string>JSDoc</string>
					<key>platform</key>
					<string>usercontribJSDoc</string>
					<key>uniqueIdentifier</key>
					<string>JSDoc</string>
				</dict>
			</dict>
			<key>Swift</key>
			<dict>
				<key>date</key>
				<date>2023-10-11T08:57:33Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Swift</string>
						<string>Swift Language Guide</string>
						<string>Swift Book</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Swift#readme</string>
					<key>authorLinkText</key>
					<string>Roey Biran</string>
					<key>name</key>
					<string>Swift Language Guide</string>
					<key>platform</key>
					<string>usercontribSwift</string>
					<key>uniqueIdentifier</key>
					<string>Swift</string>
				</dict>
			</dict>
			<key>Tailwind_CSS</key>
			<dict>
				<key>date</key>
				<date>2021-07-02T13:40:16Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>tailwind</string>
						<string>TailwindCSS</string>
						<string>tailwind CSS</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Tailwind_CSS#readme</string>
					<key>authorLinkText</key>
					<string>Ben Booth, Guill Lo</string>
					<key>name</key>
					<string>Tailwind CSS</string>
					<key>platform</key>
					<string>usercontribTailwind_CSS</string>
					<key>uniqueIdentifier</key>
					<string>Tailwind_CSS</string>
				</dict>
			</dict>
			<key>Three.js</key>
			<dict>
				<key>date</key>
				<date>2021-11-07T16:40:06Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>threejs</string>
						<string>three.js</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Three.js#readme</string>
					<key>authorLinkText</key>
					<string>Joshua Zhang</string>
					<key>name</key>
					<string>Three.js</string>
					<key>platform</key>
					<string>usercontribThree.js</string>
					<key>uniqueIdentifier</key>
					<string>Three.js</string>
				</dict>
			</dict>
			<key>WooCommerce</key>
			<dict>
				<key>date</key>
				<date>2023-07-30T12:18:38Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>WooCommerce</string>
						<string>Woo</string>
						<string>WordPress WooCommerce</string>
						<string>WordPress</string>
						<string>WooThemes</string>
						<string>E-Commerce</string>
						<string>Ecommerce</string>
						<string>Commerce</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/WooCommerce#readme</string>
					<key>authorLinkText</key>
					<string>Ryan J. Bonnell</string>
					<key>name</key>
					<string>WooCommerce</string>
					<key>platform</key>
					<string>usercontribWooCommerce</string>
					<key>uniqueIdentifier</key>
					<string>WooCommerce</string>
				</dict>
			</dict>
			<key>Zsh</key>
			<dict>
				<key>date</key>
				<date>2020-10-17T12:41:56Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Zsh#readme</string>
					<key>authorLinkText</key>
					<string>Marcus Adair</string>
					<key>name</key>
					<string>Zsh</string>
					<key>platform</key>
					<string>usercontribZsh</string>
					<key>uniqueIdentifier</key>
					<string>Zsh</string>
				</dict>
			</dict>
			<key>npm</key>
			<dict>
				<key>date</key>
				<date>2020-09-20T10:51:17Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Node Package Manager</string>
						<string>node.js</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/npm#readme</string>
					<key>authorLinkText</key>
					<string>François Massart</string>
					<key>name</key>
					<string>npm</string>
					<key>platform</key>
					<string>usercontribnpm</string>
					<key>uniqueIdentifier</key>
					<string>npm</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHWKWebViewTextSizeMultiplier</key>
	<real>1</real>
	<key>DHWebViewIsDark</key>
	<false/>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>annotationsAreShown</key>
	<false/>
	<key>bookmarks</key>
	<array>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/appkit/nscollectionview#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionView</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/appkit/nscollectionviewlayout#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionViewLayout</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/appkit/nscollectionviewflowlayout#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionViewFlowLayout</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/appkit/nscollectionviewdelegate#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionViewDelegate</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/appkit/nscollectionviewdelegateflowlayout</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionViewDelegateFlowLayout</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/appkit/nscollectionviewlayoutattributes</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionViewLayoutAttributes</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/appkit/nscollectionviewdiffabledatasource#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionViewDiffableDataSource</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/appkit/nsdiffabledatasourcesnapshot#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSDiffableDataSourceSnapshot</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/appkit/nscollectionviewcompositionallayout#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionViewCompositionalLayout</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/uikit/nscollectionlayoutsection</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionLayoutSection</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/uikit/nscollectionlayoutsectionvisibleitemsinvalidationhandler</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionLayoutSectionVisibleItemsInvalidationHandler</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/uikit/nscollectionlayoutgroup</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionLayoutGroup</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/uikit/nscollectionlayoutgroupcustomitem</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionLayoutGroupCustomItem</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/uikit/nscollectionlayoutitem</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionLayoutItem</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/uikit/nscollectionlayoutvisibleitem</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionLayoutVisibleItem</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/uikit/nscollectionlayoutsupplementaryitem</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionLayoutSupplementaryItem</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/uikit/nscollectionlayoutboundarysupplementaryitem</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionLayoutBoundarySupplementaryItem</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/uikit/nscollectionlayoutdecorationitem#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionLayoutDecorationItem</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/uikit/nscollectionlayoutspacing</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionLayoutSpacing</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/uikit/nscollectionlayoutanchor#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionLayoutAnchor</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/uikit/nscollectionlayoutcontainer</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionLayoutContainer</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/appkit/nscollectionviewcompositionallayoutconfiguration</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionViewCompositionalLayoutConfiguration</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/uikit/nscollectionlayoutenvironment</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionLayoutEnvironment</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/appkit/nscollectionviewelement</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionViewElement</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/appkit/nscollectionviewsectionheaderview#</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSCollectionViewSectionHeaderView</string>
		</dict>
	</array>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Desktop/dash-docset-threejs/dst/Three.js.docset</key>
			<string>web</string>
			<key>~/Documents/dash-apple-documentation-archive/com.apple.adc.documentation.docset</key>
			<string>ada</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Vim/Vim.docset</key>
			<string>vim:</string>
			<key>~/Library/Application Support/Dash/DocSets/AppleScript/AppleScript.docset</key>
			<string></string>
			<key>~/Library/Application Support/Dash/DocSets/Apple_API_Reference/Apple_API_Reference.docset</key>
			<string>a</string>
			<key>~/Library/Application Support/Dash/DocSets/Bash/Bash.docset</key>
			<string>sh:</string>
			<key>~/Library/Application Support/Dash/DocSets/CSS/CSS.docset</key>
			<string>w</string>
			<key>~/Library/Application Support/Dash/DocSets/Emmet/Emmet.docset</key>
			<string>w</string>
			<key>~/Library/Application Support/Dash/DocSets/HTML/HTML.docset</key>
			<string>w</string>
			<key>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</key>
			<string>w</string>
			<key>~/Library/Application Support/Dash/DocSets/Lua_5.3/Lua.docset</key>
			<string>hs:</string>
			<key>~/Library/Application Support/Dash/DocSets/Man_Pages/Man Pages.docset</key>
			<string>man</string>
			<key>~/Library/Application Support/Dash/DocSets/NodeJS/NodeJS.docset</key>
			<string>node</string>
			<key>~/Library/Application Support/Dash/DocSets/PHP/PHP.docset</key>
			<string>wp</string>
			<key>~/Library/Application Support/Dash/DocSets/Python_2/Python 2.docset</key>
			<string>py:</string>
			<key>~/Library/Application Support/Dash/DocSets/Python_3/Python 3.docset</key>
			<string>py:</string>
			<key>~/Library/Application Support/Dash/DocSets/React/React.docset</key>
			<string>w</string>
			<key>~/Library/Application Support/Dash/DocSets/SVG/SVG.docset</key>
			<string>web:</string>
			<key>~/Library/Application Support/Dash/DocSets/SwiftLintFramework/SwiftLintFramework.docset</key>
			<string>swiftlint:</string>
			<key>~/Library/Application Support/Dash/DocSets/TypeScript/TypeScript.docset</key>
			<string>w</string>
			<key>~/Library/Application Support/Dash/DocSets/Unity_3D/Unity 3D.docset</key>
			<string>unity</string>
			<key>~/Library/Application Support/Dash/DocSets/Vim/Vim.docset</key>
			<string>v:</string>
			<key>~/Library/Application Support/Dash/DocSets/WordPress/WordPress.docset</key>
			<string>wp:</string>
			<key>~/Library/Application Support/Dash/User Contributed/Hammerspoon/Hammerspoon.docset</key>
			<string>hs:</string>
			<key>~/Library/Application Support/Dash/User Contributed/Swift Language Guide/Swift 5.3 Language Guide.docset</key>
			<string>api:</string>
			<key>~/Library/Application Support/Dash/User Contributed/Swift Language Guide/Swift.docset</key>
			<string>api:</string>
			<key>~/Library/Application Support/Dash/User Contributed/Swift Language Guide/SwiftLanguageGuide.docset</key>
			<string>a</string>
			<key>~/Library/Application Support/Dash/User Contributed/Tailwind CSS/tailwindcss.docset</key>
			<string>tw:</string>
			<key>~/Library/Application Support/Dash/User Contributed/WooCommerce/WooCommerce.docset</key>
			<string>wp</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2025-09-18T10:24:10Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2025-09-18T10:24:00Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2025-09-18T10:24:15Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2025-09-18T10:24:16Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2025-09-18T10:24:34Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2025-09-18T10:24:16Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PHP.xml</key>
			<dict>
				<key>date</key>
				<date>2025-09-18T10:24:25Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2025-09-18T10:24:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Vim.xml</key>
			<dict>
				<key>date</key>
				<date>2025-09-18T10:24:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/WordPress.xml</key>
			<dict>
				<key>date</key>
				<date>2025-09-18T10:24:53Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/AppleScript.xml</key>
			<dict>
				<key>date</key>
				<date>2020-09-20T10:51:12Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Emmet.xml</key>
			<dict>
				<key>date</key>
				<date>2024-07-12T10:03:07Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lua_5.3.xml</key>
			<dict>
				<key>date</key>
				<date>2024-07-12T10:02:08Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Markdown.xml</key>
			<dict>
				<key>date</key>
				<date>2020-09-29T16:45:32Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2024-07-12T10:02:10Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Processing.xml</key>
			<dict>
				<key>date</key>
				<date>2020-05-25T13:19:13Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_2.xml</key>
			<dict>
				<key>date</key>
				<date>2020-09-29T16:31:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2021-09-23T21:53:13Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2024-07-12T10:02:11Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SVG.xml</key>
			<dict>
				<key>date</key>
				<date>2021-09-23T21:53:13Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Unity_3D.xml</key>
			<dict>
				<key>date</key>
				<date>2020-09-20T10:50:41Z</date>
			</dict>
			<key>https://realm.github.io/SwiftLint/docsets/SwiftLintFramework.xml</key>
			<dict>
				<key>date</key>
				<date>2021-04-01T08:37:46Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>menuIconBehavior</key>
	<integer>0</integer>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>placeholder</key>
			<string></string>
			<key>searchSnippets</key>
			<false/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>0</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>0</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldStartAtLogin</key>
	<false/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showDisabledDocsets</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>sortDocsetsAlphabetically</key>
	<false/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
	<key>windowStyle</key>
	<string>Standard</string>
</dict>
</plist>
